
body.enero {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Enero.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.febrero {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Febrero.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.marzo {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Marzo.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.abril {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Abril.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.mayo {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Mayo.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.junio {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Junio.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.julio {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Julio.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.agosto {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Agosto.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.septiembre {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Septiembre.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.octubre {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Octubre.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.noviembre {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Noviembre.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}

body.diciembre {
	background-image: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0.4)
        ), url("../img/Diciembre.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #66999;
}