  nav {
    border-bottom: 0.5px solid #757575;
    border-radius: 0px 0px 5px 5px;
  }


  .collapse {
    margin-right: 30px;
  }

  .nav-item {
    width: 170px;
  }

  #inicio a {
    color: white;
  }

  a {
     color: #D9D9D9;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

  .navbar-nav {
    width: 80%;

  }

  .nav__link {
    padding: 15px 0;
    width: 100px;
    text-decoration: none;
    
  }

  .list__item {
    overflow: hidden;

  }

  .list__item--click {
    cursor: pointer;
  }


  .list__show {
    margin-left: 50px;
    list-style: none;
    transition: height .4s;
    height: 0;
    position: absolute;
    z-index: 3;
    display: block;
    background-color: #151515;
    overflow: hidden;

  }

  .navbar-nav li:hover .list__show {
    display: block;
  }

  .list__show li a{
    display: block;
    margin-right: 15px;
  }

  .list__arrow {
    transition: transform .3s;

  }

  /* cuando el elemento list__button--click tenga la clase arrow,
  su hijo list__arrow tenga el estilo siguiente*/
  .arrow .list__arrow {
    transform: rotate(90deg);
  }

  .foto{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: 50%; 
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
    margin-left: 54px;
  }