	
	td {
		text-align: center;
		background-color: #FFC043;
	}

	tr:hover {
		background-color: white;
	}

	th {
		font-size: 17px;
		color: white;
		background-color: #151515;
	}

	th:first-child {
		border-top-left-radius: 10px;
	}

	th:last-child {
		border-top-right-radius: 10px;
	}

	tr:last-child td:first-child{
		border-bottom-left-radius: 10px;
	}

	tr:last-child td:last-child{
		border-bottom-right-radius: 10px;
	}

	.h1 {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #ffffff20;
		border: 0.5px solid #ffffff30;
		backdrop-filter: blur(7px);
		border-radius: 20px;
		margin: 0 auto;
		
	}

	.img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-position: 50%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-color: white;
	}

	.display-4 {
		text-align: center;
		font-weight: bold;
	}



	#btn{
		display: flex;
		justify-content: center;
	}
	.tabla {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #ffffff20;
		border: 0.5px solid #ffffff30;
		backdrop-filter: blur(7px);
		border-radius: 20px;
	}


	.btn-primary {
		margin: 5px;
		background-color: #FA5F00;
		border: 1px #FA5F00;
	}

	.btn-primary:hover {
		background-color: #FF6201;
	}

	.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show> .btn-primary .dropdown-toggle {
		color:#fff;
		background-color: #E25600;
		border-color: #005cbf;
	}

	.btn-warning {
		margin-right: 11px;
		background-color: #F12A09;
		border: 1px #F12A09;
		color: white;
	}

	.btn-warning:hover {
		background-color: #F62C0A;
		color: white;
	}

	.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active,.show> .btn-warning .dropdown-toggle {
		color: #fff;
		background-color: #DE2708;
		border-color: #005cbf;
	}

	.btn-success {
		background-color: #FC3F04;
		border: 1px #FC3F04;
	}

	.btn-success:hover {
		background-color: #FC4B14;
	}

	.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active,.show> .btn-success .dropdown-toggle {
		color: #fff;
		background-color: #DB3603;
		border-color: #005cbf;
	}

	.btn-danger {
		background-color: #DA2700;
		border: 1px #DA2700;
	}

	.btn-danger:hover {
		background-color: #F22E00;
	}

	.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active,.show> .btn-danger .dropdown-toggle {
		color: #fff;
		background-color: #B82300;
		border-color: #005cbf;
	}