	table, td {
		text-align: center;
		
		background-color: #FFC043;
		
	}

	tr:hover {
		background-color: white;
	}

	th {
		font-size: 18px;
		color: white;
		background-color: #CE2408;

	}

	.display-4 {
		text-align: center;
		font-weight: bold;
	}



	#btn{
		display: flex;
		justify-content: center;
	}
	.tabla {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #ffffff10;
		border: 0.5px solid #ffffff30;
		backdrop-filter: blur(8px);
		border-radius: 20px;
	}


	.btn-primary {
		margin: 11px;
		background-color: #FA5F00;
	}

	.btn-warning {
		margin-right: 11px;
		background-color: #F12A09;
	}

	.btn-success {
		background-color: #FC3F04;
	}

	.btn-danger {
		background-color: #DA2700;
	}


	