
#CModLi{
 padding: 2%;
 box-sizing: border-box;
 color: #fff;
}

#formulario{
	width: 55%;
	margin: auto;
	border: 1px solid #fff;

	box-shadow: 0px 0px 10px #fff;

	border-radius: 10px;
	overflow: hidden;
	background-color: white;
}

#formulario h2{
	padding: 3%;
	box-sizing: border-box;
	background-color: #FC3F04;
	text-align: center;
	
}


#formulario form{
	padding: 4%;
	box-sizing: border-box;
}

form div{
	margin: 4% 0%;
}


form div label{
	color: #000;
	font-weight: bold;
	font-size: 15pt;

	width: 30%;
}

form  div  input{
	float: right;
	font-size: 10pt;

	box-sizing: border-box;
	width: 70%;
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


form div input:focus{
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}


form  div  select{
	float: right;
	font-size: 10pt;
	
	box-sizing: border-box;
	width: 70%;
	 padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

form div select:focus{
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}


#botones{
	text-align: center;

}

form  span{
	width: 40%;
	

	border: none;
	background-color: #1589D3;
	color: #fff;
	padding: 10px;
	border-radius: 5px;

	
}

form button:hover{
	background-color: #0869C4;
	text-decoration: underline;
	cursor: pointer;	
}





#txtnroCarnet{
	margin: 0px;
	width: 50%;
	float: left;
}
#btngenerar{
	padding: 7px;
	margin: 0px;
	width: 45%;
	float: right;
}