
body{
	}


#contenidoDetEditorial{
	padding: 2%;
	box-sizing: border-box;
}

#cajaMayor{
	width: 80%;
	margin: auto;
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 2%;
	box-sizing: border-box;
	background-color: white;
	overflow: hidden;
}

#cajaMayor > h2{

	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 5%;
	background: #FC3F04;
	color: #fff;
}

#caja1{
	border: 1px solid black;
	width: 54%;
	
	color: black;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	background-color: #FC3F04;
	border-radius: 5px;
	margin-bottom: 10px;
}

#caja1 legend{
	text-align: center;
	color: #fff;
}

#caja2{
	width: 45%;
	border: 1px solid black;
	float: right;
	padding: 1%;
	box-sizing: border-box;
	background-color: #FFC44F;
	border-radius: 5px;
	margin-bottom: 10px;


}

#listEditoriales{
	width: 100%;
	
	overflow: auto;
}

#listGeneros{
	width: 100%;
	
	overflow: auto;
}

#agregarEditorial{
	margin: 2% 0% 2% 0%;
	position: relative;
	/*border: 1px solid #000;*/

}


#agregarEditorial input, #agregarEditorial span{
	width: 100%;
	margin: 4px 0px 4px 0px;
	
	box-sizing: border-box;

	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
  
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#agregarEditorial input:focus{
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

#agregarEditorial span{
	border: none;
	color: #fff;
	border-radius: 5px;
}

#agregarEditorial button:hover{
	background-color: #0869C4;
}


#modificarEditorial{
	margin: 2% 0% 2% 0%;
	text-align: justify;
	/*border: 1px solid #000;*/
	display: inline-block;

}

#FormModificarEditorial input{
	margin: 4px 0px 4px 0px;

	width: 47%;
	
	padding: 4px;
	box-sizing: border-box;

	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
  
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


#FormModificarEditorial input:focus {
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}



#modificarEditorial span{
	width: 100%;
	color: #fff;
	border-radius: 5px;
	margin: 4px 0px 4px 0px;
	padding: 5px;
	box-sizing: border-box;

}

#modificarEditorial button:hover{
	background-color: #0869C4;
}




#EliminarEditorial{
	
	margin: 2% 0% 2% 0%;
	


}


#EliminarEditorial input, #EliminarEditorial span{
	width: 100%;
	margin: 4px 0px 4px 0px;
	padding: 5px;
	box-sizing: border-box;

	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
  
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#EliminarEditorial input:focus {
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

#EliminarEditorial span{
	border: none;
	color: #fff;
	border-radius: 5px;

}

#EliminarEditorial button:hover{
	background-color: #0869C4;
}


#CajaMensaje{
	position: relative;
	display: none;

	clear: both;
	margin-top: 10px;
	padding: 5px;
	/*background-color: #EE9393;
	color: #E33E3E;
	border:2px dotted #E33E3E;*/
	box-sizing: border-box;
}


#Regreso{

	clear: both;
	margin: auto;
	text-align: center;
}

#Regreso  span{
	
	width: 50%;
	
	color: #fff;
	border-radius: 5px;
	border:none;
	margin: 4px 0px 4px 0px;
	padding: 5px;
	box-sizing: border-box;
}
#Regreso button:hover{
	background-color: #0869C4;
}