
body{
	background-color: #000;
}

#ContenidoLi{

	width: 100%;
	
	
	box-sizing: border-box;
}

#NuevoLi{
	margin: 0% 0% 1% 0%;
}

#NuevoLi button, #busqueda button{
	border: none;
	background-color: #1589D3;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}
#NuevoLi button:hover, #busqueda button:hover{
	
	background-color: #0869C4;
	text-decoration: underline;
	cursor: pointer;
}

#tablaLi h1{
	text-align: center;
	background-color: #FC3F04;
	color: #fff;
	padding: 4px;
	box-sizing: border-box;
}

#busqueda{
	/*border: 1px solid red;*/
	
	height: 85px;
	box-sizing: border-box;
	background-color: #FFC44F;
	text-align: right;

}

#NuevoLi{
	/*border: 1px solid red;*/
	display: inline-block;

	float: left;
}

#busqueda input{
	width: 30%;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#busqueda input:focus {
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

#ListaLi{
	width: 100%;
	/* max-height: 500px; */
	overflow: auto;

	margin-top: 2%;
	box-sizing: border-box;


	
}

p#NroLibros{
	text-align: right;
	color: #fff;
	margin-top: 2%;
	margin-right: 1%;
}



