
body{
	background-color: #000;
}

#ContenidoLR{

	width: 100%;
	padding: 2%;
	border: 1px solid #fff;
	box-sizing: border-box;
}



#tablaLR h1{
	text-align: center;
	background-color: #FC3F04;
	color: #fff;
	padding: 4px;
	box-sizing: border-box;
}

#busqueda {
	/*border: 1px solid red;*/
	


	padding: 1%;
	box-sizing: border-box;
	background-color: #FFC44F;

	text-align: right;

}

#ImprimirLR{
	

	float: left;
	display: inline-block;
}

/*#BusquedaLR{
	
	float: right;
	display: block;
}*/

#BusquedaLR input{
	box-sizing: border-box;
	border-radius: 5px;
	
   
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#BusquedaLR input:focus {
	color:#495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

#BusquedaLR > button, #ImprimirLR > button{
	/*border: 1px solid red;*/
	
	border-radius: 5px;
	border:none;

	padding: 10px;
	box-sizing: border-box;
	background: #0067D0;
	color: #fff;
	

}
#BusquedaLR > button:hover, #ImprimirLR > button:hover{
	/*border: 1px solid red;*/
	
	
	background: #0067D0;
	text-decoration: underline;
	cursor: pointer;

}

#ListaLR{

	width: 100%;
	max-height: 500px;
	overflow: auto;


	margin-top: 2%;
	box-sizing: border-box;
	
}





